body {
    background: beige;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.happy-monkey-regular {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

  .raleway-dots-regular {
    font-family: "Raleway Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

#title {
    font-size: 200px;
    text-align: center;
    font-family: "Raleway Dots";
    color: rgb(156, 35, 156);
}

#container__special {
    margin-left: 100px;

}

.title__sub {
    font-size: 100px;
    color: rgb(170, 6, 6);
    text-align: center;
    font-family: "Happy Monkey";
}

#container {
    display: flex;
    justify-content: space-evenly;
}   

.btn {
    margin: 50px 0;
    font-size: 50px;
    padding: 10px 20px;
    font-family: "Happy Monkey", system-ui;
}


/* ##################### */
/* ### C O O K I E S ### */
/* ##################### */

#container__cookies {
    border: 8px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#title__cookies {
    font-size: 100px;
    text-align: center;
    font-family: "Happy Monkey";
}

.cookie-card {
    border: 8px dotted rgb(140, 214, 243);
    margin: 15px 5px;
    display: flex;
    max-width: 1500px;
    padding: 20px;
}

.cookie-info {
}

.img__cookie {
    width: 400px;
    margin-right: 100px;
}

.cookie__title {
    font-size: 75px;
    font-family: "Happy Monkey";
}

.cookie__descr {
    text-align: center;
    font-size: 50px;
    font-style: italic;
}

/* ################## */
/* ##### I C E ###### */
/* ### C R E A M #### */
/* ################## */

#container__icecream {
    border: 8px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#title__icecream {
    font-size: 100px;
    text-align: center;
    font-family: "Happy Monkey";
}

.ice-cream-card {
    border: 8px dashed rgb(255, 120, 228);
    margin: 15px 5px;
    display: flex;
    max-width: 1500px;
    padding: 20px;
    
}

.img__icecream {
    width: 400px;
    margin-right: 100px;
}

.icecream__title {
    font-size: 75px;
    font-family: "Happy Monkey";
}
.icecream__descr {
    text-align: center;
    font-size: 50px;
    font-style: italic;
}


/* ################ */
/* ### C A R T ###  */
/* ################ */

"container__cart">